@import "./styles/index.css";
@import "./styles/topmenu.css";
@import "./styles/timeline.css";
@import "./styles/details.css";
@import "./styles/portada.css";
@import "./styles/footer.css";
@import "./styles/presentacion.css";

h1 {
  color:var(--YellowText);
  font-family: cursive;
}

.maincontent{
  margin: 15px;
  background-color: var(--darkGrey);
  display: block;
  align-content: center;
  padding: 30px;
  margin-bottom: 20px;
  }
  
.maincontent img{
  max-width: 500;
}
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  color: #1f1f1f;
  background: var(--darkestGrey)
  /* linear-gradient(to bottom, #bada55, #c0ffee); */
}

.btn{
  border: none; /* Remove borders */
  color: var(--SmokedGrey);
  padding: 16px 32px; 
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-size: 1rem;
}
.btn a, a:visited ,a:hover,a:active  {
  text-decoration: none;
  color: var(--SmokedGrey);
}

.default{
  background-color: var(--darkGrey);
  box-shadow: 1px 2px 2px #131313;  
}
.default2{
  background-color: var(--darkestGrey);
  box-shadow: 1px 2px 2px #131313;  
}
.default:hover {background:var(--greyActive);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

img{
  max-height: 300;
  box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.maintitle{
  color: var(--SmokedGrey);
  width: 100%;
  text-align: center;
  margin: 2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: var(--SmokedGrey);
}
th{
  padding: 20px;
  color: var(--SmokedGrey);
}
td{
  border: 0px solid #dddddd;
  text-align:center;
  padding: 20px;
  color: var(--YellowText);
}

tr:nth-child(even) {
  background-color: var(--darkestGrey);
}

