:root {
    --h1ColorText: red;
    --SmokedGrey: #c8c8c8;
    --darkGrey: #272b30;
    --darkestGrey:#1c1e22;
    --greyActive: #727272;
    --YellowText: #ffe100dc;
    --cardGrey: #444444;
}
    /* --varIcon: url("../icon.svg"); */