@import "./index.css";

.panelRight{
    display: block;
    width: 50%;
    text-align: left;
    padding-right: 1rem;
    padding-left: 1rem;
}
.panelLeft{
    display: block;
    width: 50%;
    text-align: left;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right-style: solid;
    border-color: var(--YellowText);
}
.flex{
    display: flex;
}
@media screen and (max-width: 1024px) {

    .panelLeft{
        width: 100%;
        border-right-style:none;
        
    }
    .panelright{
        border-top: solid;
        width: 100%;
        border-color: var(--YellowText);
    }
    .flex{
        display: block;
    }
}